<h2 class="content-block">Home</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="logos-container">
            
        </div>

        <p>Welcome to <b>RetailEngine</b>!</p><p>The application is built with:</p>
        <ul>
            <li><a href="https://cli.angular.io/" target="_blank" rel="noopener noreferrer">Angular CLI</a></li>
            <li><a href="https://js.devexpress.com/Documentation/Guide/Getting_Started/DevExtreme_CLI/" target="_blank" rel="noopener noreferrer">DevExtreme CLI</a></li>
            <li><a href="https://js.devexpress.com/Documentation/Guide/Angular_Components/DevExtreme_Angular_Components/" target="_blank" rel="noopener noreferrer">DevExtreme-Angular</a> components</li>
        </ul>

        <p>The application layouts are implemented using the <a href="https://js.devexpress.com/Documentation/ApiReference/UI_Widgets/dxDrawer/" target="_blank" rel="noopener noreferrer">Drawer</a> component. Several component examples are also available in the <b>Examples</b> section. For complete information on DevExtreme, check our <a href="https://js.devexpress.com/Documentation/"  target="_blank" rel="noopener noreferrer">documentation</a> and <a href="https://js.devexpress.com/Demos/WidgetsGallery/" target="_blank" rel="noopener noreferrer">demos</a>.</p>
        <p>You can do the following to create a custom application using this template as a base point:</p>

        <ul>
            <li><b>Add new views</b></li>
            <li><b>Switch themes</b></li>
            <li><b>Customize themes</b></li>
            <li><b>Apply the additional theme to custom elements</b></li>
            <li><b>Use theme colors in custom elements</b></li>
            <li><b>Switch the layout</b></li>
        </ul>

        <p>Please, read README in <a href="https://github.com/DevExpress/devextreme-angular-template/blob/master/README.md" target="_blank" rel="noopener noreferrer">devextreme-angular-template</a> GitHub repository for more information.</p>
    </div>
</div>
